*{
  margin: 0;
  padding: 0;
}

.not-found {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}

.not-found p {
  font-size: 5em;
}